html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.form-select {
    border: 2px solid #007bff;
    border-radius: 4px;
    padding: 5px;
}

    .form-select option:checked {
        background-color: #28a745;
        color: white;
    }

    .form-select:hover {
        border-color: #28a745;
    }

}
