
@model QuanLyNhaThuoc.Areas.KhachHang.Models.MomoExecuteResponseModel
@{
    ViewData["Title"] = "Kết quả thanh toán";
}

<h1>@ViewData["Title"]</h1>

<h5>Thanh toán momo thành công với:</h5>
<h5>OrderId: @Model.OrderId</h5>

