@model IEnumerable<dynamic>

<ul>
    @if (Model.Any())
    {
        foreach (var order in Model)
        {
            <li>
                <a href="/Admin/DonHang/Details/@order.MaDonHang" class="order-link d-block">
                    <i class="fas fa-shopping-cart mr-2"></i>
                    Bạn có đơn hàng mới **Mã đơn hàng: <strong>@order.MaDonHang</strong>** chưa xác nhận.
                    <span class="float-right text-muted text-sm">@order.NgayDatHang.ToString("HH:mm dd/MM/yyyy")</span>
                </a>
            </li>
        }
        <li class="text-center">
            <a href="/Admin/DonHang" class="dropdown-footer">Xem tất cả đơn hàng</a>
        </li>
    }
    else
    {
        <li class="text-center">
            <i class="fas fa-check-circle text-success"></i> Không có đơn hàng nào đang chờ xác nhận.
        </li>
    }
</ul>


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
