@model QuanLyNhaThuoc.Models.UpdateDonHang

@{
    ViewData["Title"] = "Cập nhật Trạng Thái Đơn Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Cập nhật Trạng Thái Đơn Hàng</h1>

<form asp-action="Update" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="MaDonHang" />

    <div class="form-group">
        <label asp-for="TrangThai"></label>

        
        <select asp-for="TrangThai" class="form-control">
            <option value="Đã giao">Đã giao</option>
            <option value="Đang giao">Đang giao</option>
            <option value="Chờ xác nhận">Chờ xác nhận</option>
            <option value="Đã xác nhận">Đã xác nhận</option>
        </select>

        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
