@using QuanLyNhaThuoc.Areas.KhachHang.Models
@model IEnumerable<QuanLyNhaThuoc.Areas.KhachHang.Models.ProductViewModel>

<link rel="stylesheet" href="~/css/layotsanphamdanhmuc.css" asp-append-version="true" />

<div class="product-section container mt-4">
    @await Html.PartialAsync("_DanhSachSanPhamDanhMucPartial", ViewData["Products"] as IEnumerable<ProductViewModel>) 
</div>

