@model IEnumerable<QuanLyNhaThuoc.Areas.KhachHang.Models.ProductViewModel>
@using QuanLyNhaThuoc.Areas.KhachHang.Models
<div class="product-section container mt-4">
    @await Html.PartialAsync("_DanhSachSanPhamPartial", ViewData["Products"])
</div>
