
@{
    
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutKhachHang.cshtml";
}

@{
    ViewBag.Title = "Kết quả thanh toán thành công";
}
@* @model QuanLyNhaThuoc.Areas.KhachHang.Models.MomoExecuteResponseModel


<div class="container">
    <div class="alert alert-success">
        <h4>Thanh toán thành công với đơn hàng :</h4>
        <p>Mã đơn hàng: <strong>@Model.OrderId</strong></p>
        <p>Thông tin đơn hàng: <strong>@Model.OrderInfo</strong></p>
        <p>Tổng tiền: <strong>@Model.Amount</strong></p>
        <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
       
        <a href="/KhachHang/SanPham/OrderDetails/@ViewBag.MaDonHang" class="btn btn-primary">Xem chi tiết đơn hàng</a>
    </div>
</div> *@
<h1>Thành công</h1>



