
@{
    ViewData["Title"] = "BanDieuHanh";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutKhachHang.cshtml";
}
<!DOCTYPE html>
<html lang="vi-VN">

<div class="manage__top">
    <h2>Sứ Mệnh Nhà Thuốc An Khang</h2>
    <p><strong>Nhà thuốc An Khang</strong> với sứ mệnh cung cấp những giải pháp tốt nhất về chăm sóc sức khỏe cho khách hàng, đặt sức khỏe của khách hàng lên trên hết trong mọi suy nghĩ và hành động, mang đến cho khách hàng trải nghiệm khác biệt về chăm sóc sức khỏe.</p>
</div>
<div class="manage__main">
    <h2>Ban Điều Hành</h2>
    <ul class="manage-list">
        <li class="profile">
            <div class="profile-img">
                <img src="~/images/bdh1.jpg" alt="Ông Đoàn Văn Hiểu Em">
            </div>
            <div class="profile-content">
                <div class="wrap-top">
                    <h3 class="txt-name">Ông Đoàn Văn Hiểu Em</h3>
                    <p class="txt-postision">CEO chuỗi Nhà thuốc An Khang, thành viên HĐQT  MWG</p>
                </div>
                <div class="txt-ct">
                    <p>
                        Ông <strong>Đoàn Văn Hiểu Em</strong>, sinh năm 1982, tốt nghiệp Đại học Tài chính - Marketing TP. HCM chuyên ngành Tài chính - Kế Toán.<br>
                        Gia nhập MWG từ tháng 3/2007, ông Hiểu Em đã trải qua những vị trí khác nhau, bắt đầu từ phòng tài chính kế toán, trưởng ngành hàng, Giám đốc Ngành hàng điện thoại và sau đó là Giám đốc Ngành hàng Điện tử - Viễn thông.<br>
                        Tháng 9/2018, ông Hiểu Em được bổ nhiệm vào vị trí CEO công ty con của MWG là Công ty cổ phần Thế Giới Di Động. Từ tháng 4/2019 đến nay, Ông được bổ nhiệm là thành viên HĐQT của MWG và CEO chuỗi <a href="#"> Nhà thuốc An Khang.</a>
                    </p>
                </div>
                <div class="box-click">
                    <span class="readmore">Xem thêm</span>
                </div>
            </div>
        </li>
        <li class="profile">
            <div class="profile-img">
                <img src="~/images/bdh2.jpg" alt="Ông Huỳnh Văn Tốt">
            </div>
            <div class="profile-content">
                <div class="wrap-top">
                    <h3 class="txt-name">Ông Huỳnh Văn Tốt</h3>
                    <p class="txt-postision">Giám Đốc - Khối Thương Mại Điện Tử TGDĐ &amp; ĐMX</p>
                </div>
                <div class="txt-ct">
                    <p>
                        Ông <strong>Huỳnh Văn Tốt</strong>, sinh năm 1988, tốt nghiệp Khoa Quản trị kinh doanh Trường Đại học Công nghệ Sài Gòn, năm 2010.<br>
                        Gia nhập MWG từ tháng 02/2009, ông Tốt đã từng trải qua các vị trí Trưởng Phòng Bán hàng online Công ty Cổ Phần Thế Giới Di Động (TGDD) và Điện Máy Xanh (ĐMX), Phó giám đốc TMĐT TGDD &amp; ĐMX, Giám đốc khối TMĐT TGDD, ĐMX, Topzone, Avakids.<br>
                        Hiện tại, ông Tốt đang là Giám đốc khối TMĐT của Nhà thuốc An Khang và chịu trách nhiệm nội dung cho website Nhà thuốc An Khang
                    </p>
                </div>
                <div class="box-click">
                    <span class="readmore">Xem thêm</span>
                </div>
            </div>
        </li>
        <li class="profile">
            <div class="profile-img">
                <img src="~/images/bdh3.jpg" alt="Bà Phạm Ngọc Đinh Lăng">
            </div>
            <div class="profile-content">
                <div class="wrap-top">
                    <h3 class="txt-name">Bà Phan Ngọc Đinh Lăng</h3>
                    <p class="txt-postision">Giám Đốc Phát Triển Kinh Doanh - Ngành Hàng An Khang</p>
                </div>
                <div class="txt-ct">
                    <p>
                        Bà <strong>Phan Ngọc Đinh Lăng</strong>, sinh năm 1987, tốt nghiệp Cử nhân Quản trị Kinh doanh - Đại học Kinh Tế TP HCM.<br>
                        Gia nhập MWG từ 2011, Bà đã trải qua những vị trí Trưởng bộ phận Nhập khẩu, Giám đốc mua hàng Ngành hàng Phụ kiện, Giám đốc Ngành hàng Gia Dụng, Giám đốc Ngành hàng An Khang, Giám đốc Phát Triển Kinh doanh An Khang.<br>
                        Từ 12/2021, bà Lăng được bổ nhiệm vào vị trí Giám đốc Phát Triển Kinh Doanh - Ngành hàng Nhà thuốc An Khang, phụ trách chính phát triển ngành hàng, dãy sản phẩm, chương trình bán hàng cùng hệ thống chuỗi cung ứng/ nhà cung cấp.
                    </p>
                </div>
                <div class="box-click">
                    <span class="readmore">Xem thêm</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="manage__criteria">
    <h2>Tiêu chí phục vụ</h2>
    <div class="criteria-main">
        <div class="img-criteria">
            <img src="~/images/Gt1.jpg" alt="Nhà thuốc An Khang Điểm 10 chăm sóc sức khoẻ">
            <p>Nhà thuốc An Khang<br>Điểm 10 chăm sóc sức khoẻ</p>
        </div>

        <ul class="criteria-list">
            <li>Không mua/Không bán những sản phẩm gây ảnh hưởng cho sức khỏe khách hàng.</li>
            <li>Nhà thuốc An Khang luôn luôn tận tâm và biết ơn khách hàng.</li>
            <li>Nhà thuốc An Khang đủ thuốc bạn cần, nguồn gốc rõ ràng, tận tình tư vấn, an tâm về giá.</li>
            <li>Luôn lắng nghe trọn vẹn sự chia sẻ, mong đợi và thông tin từ Khách hàng, không phủ định hoặc phản bác lại thông tin khách hàng đưa ra, tư vấn cho khách hàng các giải pháp hiệu quả nhất và tốt nhất.</li>
        </ul>
    </div>

</div>
</html>



