
@{
    ViewData["Title"] = "ChinhSach";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutKhachHang.cshtml";
}

<!DOCTYPE html>
<html lang="vi-VN">

<section>

    <ul class="breadcrumb">
        <li><a href="/KhachHang/Home">Trang chủ</a> <span><img class="right-breadcrumb" src="https://cdnv2.tgdd.vn/webmwg/2024/ak/images/icons/chevron-right-xam.png"></span></li>
        <li class="cur-page"><a>Chính sách xử lý dữ liệu cá nhân</a></li>
    </ul>

    <div class="warranty ">
        <ul class="tabs">
            <li class="tab-link title">
                Hệ thống cửa hàng
            </li>
            <li class="tab-link ">
                <a href="/noi-quy-nha-thuoc-an-khang">Nội quy cửa hàng</a>
            </li>
            <li class="tab-link ">
                <a href="/chat-luong-phuc-vu-nha-thuoc-an-khang">Chất lượng phục vụ</a>
            </li>
            <li class="tab-link ">
                <a href="/chinh-sach-doi-tra-bao-hanh-an-khang">Chính sách bảo hành &amp; đổi trả</a>
            </li>
            <li class="tab-link title">
                Hỗ trợ khách hàng
            </li>
            <li class="tab-link ">
                <a href="/dieu-kien-giao-dich-chung-nha-thuoc-an-khang">Điều kiện giao dịch chung</a>
            </li>
            <li class="tab-link ">
                <a href="/huong-dan-mua-hang-online-an-khang">Hướng dẫn mua hàng online</a>
            </li>

            <li class="tab-link ">
                <a href="/chinh-sach-giao-hang-an-khang">Chính sách giao hàng</a>
            </li>

            <li class="tab-link ">
                <a href="/chinh-sach-thanh-toan-an-khang">Chính sách thanh toán</a>
            </li>
            <li class="tab-link title">
                về nhà thuốc an khang
            </li>
            <li class="tab-link ">
                <a href="/KhachHang/Home/Gioithieu">Giới thiệu Nhà thuốc An Khang</a>
            </li>
            <li class="tab-link current">
                <a href="/KhachHang/Home/ChinhSach">Chính sách xử lý dữ liệu cá nhân</a>
            </li>
        </ul>
        <div data-html="4043" class="tab-content current" id="warranty1">
            <h1 style="text-align: center;"><span style="font-size: 18pt;"><strong>CHÍNH SÁCH XỬ LÝ DỮ LIỆU CÁ NHÂN</strong></span></h1>
            <p style="text-align: center;"><strong><em>(Áp dụng từ ngày 01/01/2024) </em></strong></p>
            <p>Trong quá trình Khách Hàng giao dịch tại website/ứng dụng hoặc tại cửa hàng của Công ty Cổ phần Dược phẩm An Khang Pharma (sau đây gọi là “<strong>Hệ Thống</strong>”), Công ty Cổ phần Dược phẩm An Khang Pharma (sau đây gọi là “<strong>Nhà Thuốc</strong>&nbsp;<strong>An Khang</strong>”) có thể thu thập một số dữ liệu cá nhân của Quý Khách Hàng theo các điều khoản dưới đây:</p>
            <h2><strong>1. </strong><strong>Phạm vi Dữ liệu cá nhân thu thập:</strong><strong>&nbsp;</strong></h2>
            <ul>
                <li>Để mua hàng tại Hệ Thống (tạo đơn hàng, để lại bình luận đánh giá, liên hệ với chúng tôi, v.v), Quý Khách Hàng có thể sẽ được yêu cầu để lại thông tin cho chúng tôi, bao gồm: Email, Họ tên, Số điện thoại, địa chỉ và dữ liệu cá nhân khác cần thiết tại từng thời điểm (“<strong>Dữ liệu cá nhân</strong>”). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp, Nhà Thuốc An Khang không chịu trách nhiệm trong trường hợp thông tin Khách Hàng cung cấp là không chính xác.</li>
                <li>Trong trường hợp Quý Khách Hàng giao dịch tại website/ứng dụng của Nhà Thuốc An Khang, Hệ Thống cũng có thể thu thập thông tin về số lần ghé thăm, bao gồm số trang Quý Khách Hàng xem, số links (liên kết) mà Khách Hàng click và những thông tin khác liên quan đến việc kết nối đến site Nhà Thuốc An Khang. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) mà Khách Hàng sử dụng mỗi khi truy cập vào Hệ Thống, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</li>
            </ul>
            <h2><strong>2. </strong><strong>Mục đích sử dụng Dữ liệu cá nhân: </strong></h2>
            <p><strong>Các Dữ liệu cá nhân mà Hệ Thống thu thập của Khách Hàng sẽ được sử dụng trong phạm vi sau: </strong></p>
            <ul>
                <li>Xử lý đơn hàng: gọi điện/tin nhắn xác nhận việc đặt hàng, thông báo về trạng thái đơn hàng &amp; thời gian giao hàng, xác nhận việc huỷ đơn hàng (nếu có).</li>
                <li>Gửi thư ngỏ/thư cảm ơn, giới thiệu sản phẩm mới, dịch vụ mới hoặc các chương trình khuyến mại của Nhà Thuốc An Khang.</li>
                <li>Gửi thông tin về bảo hành sản phẩm.</li>
                <li>Giải quyết khiếu nại.</li>
                <li>Thực hiện các chương trình khuyến mại của Nhà Thuốc An Khang, bao gồm: chương trình khuyến mại do Nhà Thuốc An Khang tự thực hiện hoặc phối hợp với bên thứ ba thực hiện; thông tin về việc trao thưởng cho Khách Hàng khi trúng thưởng.</li>
                <li>Gửi thông tin cho công ty tài chính để tiếp nhận, thẩm định &amp; duyệt hồ sơ trả góp.</li>
                <li>Các khảo sát để chăm sóc Khách Hàng tốt hơn.</li>
                <li>Xác minh danh tính và đảm bảo tính bảo mật Dữ liệu cá nhân của Khách Hàng.</li>
                <li>Các trường hợp có sự yêu cầu của cơ quan nhà nước có thẩm quyền, hoặc bắt buộc phải cung cấp theo quy định của pháp luật.</li>
                <li>Mục đích hợp lý khác nhằm phục vụ yêu cầu của Khách Hàng.</li>
            </ul>
            <h2><strong>3. </strong><strong>Thời gian lưu trữ Dữ liệu cá nhân: </strong></h2>
            <p>Dữ liệu sẽ được lưu trữ cho đến khi có yêu cầu xóa từ Khách Hàng, trừ trường hợp pháp luật không cho phép xóa. Còn lại trong mọi trường hợp Dữ liệu cá nhân Khách Hàng sẽ được bảo mật, lưu trữ trên máy chủ của Nhà Thuốc An Khang.</p>
            <h2><strong>4. </strong><strong>Các bên có thể thể tiếp cận Dữ liệu cá nhân của Quý Khách Hàng:</strong></h2>
            <p>Dữ liệu cá nhân của Quý Khách Hàng được Nhà Thuốc An Khang cam kết bảo mật tuyệt đối theo Chính Sách này và chỉ được chia sẻ cho các Bên dưới đây nhằm phục vụ các mục đích nêu tại mục 2: &nbsp;</p>
            <ul>
                <li>Các đối tác giao hàng, viễn thông, cung cấp dịch vụ tin nhắn qua internet, đối tác là công ty tài chính, doanh nghiệp bảo hiểm, thương nhân kinh doanh dịch vụ khuyến mại, thương nhân phối hợp với Nhà Thuốc An Khang thực hiện chương trình khuyến mại, đối tác khácmà Nhà Thuốc An Khang hợp tác tại từng thời điểm nhằm thực hiện các công việc theo phạm vi nêu tại mục 2; và/hoặc</li>
                <li>Công ty liên kết của Nhà Thuốc An Khang (công ty mẹ, công ty con và/hoặc các công ty cùng chịu chung sự kiểm soát, chi phối với Nhà Thuốc An Khang);</li>
                <li>Luật sư, cố vấn, đơn vị kiểm toán của Nhà Thuốc An Khang;</li>
                <li>Bên xử lý Dữ liệu cá nhân cho Nhà Thuốc An Khang theo Hợp đồng cung cấp dịch vụ tại từng thời điểm;</li>
                <li>Các bên thứ ba khác nếu được sự đồng ý của Quý Khách Hàng tại từng thời điểm.</li>
            </ul>
            <h2><strong>5. </strong><strong>Cách thức xử lý Dữ liệu cá nhân:</strong></h2>
            <p>Dữ liệu cá nhân của Khách Hàng được thu thập thông qua hoạt động của Khách Hàng trên Hệ Thống sẽ được lưu trữ tại hệ thống của bên thứ ba và bảo đảm an toàn dưới sự quản lý của Nhà Thuốc An Khang.</p>
            <h2><strong>6. </strong><strong>Quyền của Khách Hàng đối với Dữ liệu cá nhân:</strong></h2>
            <p><strong> Khách Hàng có đầy đủ các quyền theo quy định của pháp luật đối với Dữ liệu cá nhân của mình. </strong></p>
            <ul>
                <li>Khách Hàng có quyền truy cập, chỉnh sửa hoặc xóa Dữ liệu cá nhân bằng các hình thức sau:</li>
            </ul>
            <ol>
                <li>Đăng nhập vào trang quản lý thông tin Khách Hàng tại website/ứng dụng của Nhà Thuốc An Khang, tự chỉnh sửa lại hoặc xóa thông tin của Khách Hàng.</li>
                <li>Gọi điện thoại đến tổng đài 19001572: Nhà Thuốc An Khang sẽ hỗ trợ điều chỉnh thông tin hoặc tiến hành xóa thông tin nếu có cơ sở xác định Dữ liệu cá nhân mà Khách Hàng cung cấp hoặc yêu cầu chỉnh sửa/xóa là chính xác.</li>
            </ol>
            <ul>
                <li>Ngoài việc thực hiện các quyền đối với Dữ liệu cá nhân đã được thiết lập sẵn tại website/ứng dụng như nêu tại mục 6.1, đối với các quyền khác, Khách Hàng có thể gửi thư điện tử (email) có đính kèm văn bản yêu cầu để nêu rõ cụ thể yêu cầu của Khách Hàng. Sau khi nhận được yêu cầu của Khách Hàng, Nhà Thuốc An Khang thông báo cho Khách Hàng cân nhắc trước các hạn chế, hậu quả, thiệt hại có thể xảy ra nếu thực hiện theo các yêu cầu của Khách Hàng trước khi thực hiện yêu cầu đó. Email tiếp nhận yêu cầu: cskh@nhathuocankhang.com.</li>
            </ul>
            <h2><strong>7. </strong><strong>Hậu quả, thiệt hại không mong muốn có khả năng xảy ra khi xử lý Dữ liệu cá nhân: </strong></h2>
            <ul>
                <li>Hậu quả: Dữ liệu cá nhân bị tiết lộ cho các chủ thể khác mà chưa được sự đồng ý của Khách Hàng; hoặc bên thứ ba có thể tiếp cận Dữ liệu cá nhân và sử dụng vào mục đích khác mà chưa được sự đồng ý của Khách Hàng.</li>
                <li>Thiệt hại không mong muốn có khả năng xảy ra: mất tài sản; hoặc danh dự, uy tín của Khách hàng bị xâm phạm.</li>
                <li>Hậu quả, thiệt hại khác mà Nhà Thuốc An Khang không thể lường trước được do các nguyên nhân khách quan.</li>
            </ul>
            <h2><strong>8. </strong><strong>Điều khoản chung: </strong></h2>
            <p>Nhà Thuốc An Khang có quyền chỉnh sửa, cập nhật Chính Sách này vào bất kỳ thời điểm nào khi cần thiết, bản cập nhật sẽ được công bố trên Hệ Thống và sẽ được ghi ngày để Khách Hàng nhận biết được bản mới nhất.</p>
        </div>
    </div>
</section>
</html>





