
@{
    ViewData["Title"] = "Gioithieu";
    Layout = "~/Areas/KhachHang/Views/Shared/_LayoutKhachHang.cshtml";
}
<!DOCTYPE html>
<html lang="vi-VN">

<section>

    <ul class="breadcrumb">
        <li><a href="/KhachHang/Home">Trang chủ</a> <span><img class="right-breadcrumb" src="https://cdnv2.tgdd.vn/webmwg/2024/ak/images/icons/chevron-right-xam.png"></span></li>
        <li class="cur-page"><a>Giới thiệu Công ty</a></li>
    </ul>

    <div class="warranty ">
        <ul class="tabs">
            <li class="tab-link title">
                Hệ thống cửa hàng
            </li>
            <li class="tab-link ">
                <a href="#">Nội quy cửa hàng</a>
            </li>
            <li class="tab-link ">
                <a href="#">Chất lượng phục vụ</a>
            </li>
            <li class="tab-link ">
                <a href="#">Chính sách bảo hành &amp; đổi trả</a>
            </li>
            <li class="tab-link title">
                Hỗ trợ khách hàng
            </li>
            <li class="tab-link ">
                <a href="#">Điều kiện giao dịch chung</a>
            </li>
            <li class="tab-link ">
                <a href="#">Hướng dẫn mua hàng online</a>
            </li>

            <li class="tab-link ">
                <a href="#">Chính sách giao hàng</a>
            </li>

            <li class="tab-link ">
                <a href="#">Chính sách thanh toán</a>
            </li>
            <li class="tab-link title">
                về nhà thuốc an khang
            </li>
            <li class="tab-link current">
                <a href="/KhachHang/Home/Gioithieu">Giới thiệu Nhà thuốc An Khang</a>
            </li>
            <li class="tab-link ">
                <a href="/KhachHang/Home/ChinhSach">Chính sách xử lý dữ liệu cá nhân</a>
            </li>
        </ul>
        <div data-html="4042" class="tab-content current" id="warranty1">
            <h1 class="blog-title">GIỚI THIỆU NHÀ THUỐC AN KHANG</h1>
            <h2><strong class="f-w-500">I. Về chúng tôi</strong></h2>
            <div class="content" data-html-id="3688">
                <p>Nhà thuốc An Khang - thành viên của tập đoàn Thế Giới Di Động (MWG) là một trong những chuỗi bán lẻ uy tín hàng đầu tại Việt Nam với hơn 20 năm tận tâm phục vụ.</p>
                <p>Chuỗi nhà thuốc An Khang (tiền thân là nhà thuốc Phúc An Khang) được thành lập năm 2002.</p>
                <p>Năm 2017 nhà thuốc Phúc An Khang chính thức là thành viên của Thế Giới Di Động với 14 nhà thuốc tại TP. Hồ Chí Minh và đổi tên thành Nhà thuốc An Khang với bộ nhận diện thương hiệu mới thuộc Thế Giới Di Động, đến nay hệ thống đã có hơn 300 nhà thuốc đạt chuẩn GPP.</p>
                <p>Nhà thuốc An Khang chuyên cung cấp đa dạng các loại dược phẩm, sản phẩm thực phẩm chức năng, trang thiết bị y tế, dược mỹ phẩm cùng nhiều sản phẩm chăm sóc sức khoẻ, tiêu dùng hàng ngày,....</p>
                <h2 class="ppc-typography-heading4 paragraph-padding"><strong class="f-w-500">II. Sứ mệnh</strong></h2>
                <p class="paragraph paragraph-normal paragraph-padding">Mong muốn được chăm sóc, phục vụ sức khỏe cộng đồng với chất lượng tốt nhất và giá cả hợp lý với đội ngũ dược sỹ chuyên môn cao, đáng tin cậy.</p>
                <h2><strong class="f-w-500">III. Giá trị cốt lõi</strong></h2>
                <p>Tất cả các Nhà thuốc trực thuộc hệ thống đều đạt chuẩn Thực hành thuốc tốt – GPP, với đội ngũ dược sĩ có chuyên môn và giàu kinh nghiệm. Cam kết phục vụ theo 4 tiêu chí:</p>
                <p>Đủ thuốc bạn cần</p>
                <p>Nguồn gốc rõ ràng</p>
                <p>Tận tình tư vấn</p>
                <p>An tâm về giá</p>
                <p><span style="text-decoration: underline;">Địa chỉ chuỗi nhà thuốc An Khang</span>: <a title="Địa chỉ Nhà thuốc An Khang" href="#">Xem tại đây</a></p>
            </div>
        </div>
    </div>
</section>
</html>



