@{
    ViewData["Title"] = "Blog Sức Khỏe";
}
<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Gocsuckhoe.css" />
</head>

<body>
    <div class="containergsk">
        <h2 class="text-left ">Góc Sức Khỏe</h2>
        <div class="rowgsk">
            <!-- Card 1 -->
            <div class="col-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk1.jpg" alt="Hình 1" class="card-img-top">
                        <p class="card-text">Sốt sốt huyết làm gì cho nhanh khỏi? Các lưu ý cần tránh</p>
                    </a> 
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk2.jpg" alt="Hình 2" class="card-img-top">
                        <p class="card-text">3 giai đoạn sốt xuất huyết, giai đoạn nào nguy hiểm nhất?</p>
                    </a>
                    
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk3.jpg" alt="Hình 3" class="card-img-top">
                        <p class="card-text">Các dấu hiệu cho thấy cần phải tẩy giun ngay ở người lớn</p>
                    </a>
                    
                </div>
            </div>
            <div class="col-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk4.jpg" alt="Hình 4" class="card-img-top">
                        <p class="card-text">Sở Y Tế Hà Nội cảnh báo thuốc Zinnat tablets 500mg giả,không đảm bảo chất lượng</p>
                    </a>
                 
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk5.jpg" alt="Hình 5" class="card-img-top">
                        <p class="card-text">Vắc xin sốt huyết đầu tiên được lưu hành tại Việt Nam</p>
                    </a>
                   
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-3 mb-4">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk6.jpg" alt="Hình 6" class="card-img-top">
                        <p class="card-text">13 loại rau chữa mất ngủ hiệu quả không cần dùng thuốc</p>
                    </a>
                    
                </div>
            </div><div class="col-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk7.jpg" alt="Hình 7" class="card-img-top">
                        <p class="card-text">Có nên cho trẻ sơ sinh uống nước? Các lưu ý khi cho trẻ uống nước</p>
                    </a>
                   
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk8.jpg" alt="Hình 8" class="card-img-top">
                        <p class="card-text">Kem chống nắng dạng xịt có tốt không? Lưu ý khi dùng xịt chống nắng</p>
                    </a>
                    
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gks9.jpg" alt="Hình 9" class="card-img-top">
                        <p class="card-text">13 cách cải thiện tăng huyết áp tại nhà và lưu ý khi huyết áp tăng</p>
                    </a>
                  
                </div>
            </div><div class="col-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk10.jpg" alt="Hình 10" class="card-img-top">
                        <p class="card-text">18 cách trị xuất tinh sớm hiệu quả, nhanh chóng tại nhà cho phái mạnh</p>
                    </a>
                   
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk11.jpg" alt="Hình 11" class="card-img-top">
                        <p class="card-text">Cá kho bao nhiêu calo? Ăn cá kho có béo không? Cách ăn ít tăng cân</p>
                    </a>
                   
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-3 mb-3">
                <div class="card">
                    <a href="#">
                        <img src="~/images/gsk12.jpg" alt="Hình 12" class="card-img-top">
                        <p class="card-text">Rau muống bao nhiêu calo? Ăn rau muốn có giảm cân không?</p>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
