@{
    ViewData["Title"] = "Tra Cứu Bệnh";
}

<!DOCTYPE html>
<html lang="vi-VN">

<body>
    <div>
           <img src="~/images/tcb1.jpg" alt="Hình 1" class="card-img-top">
    
    </div>
</body>
</html>
